---
---

@import 'settings';

html { margin: 0 auto; min-width: 750px; }

body, p, h1, h2, h3, h4, h5, img, ul, li, div, videocontainer { 
  margin: 0; padding: 0; 
  font:18pt 'andale mono',courier,sans-serif;
  font-family: 'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, Tahoma, Geneva, sans-serif;
  
  font-style: normal;
  text-align: left;
  color: #2A2F35;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    
  // Debug         
  //border: 1px solid #333;

  line-height: 140%;
}
@media print{ 
  body, p, h1, h2, h3, h4, h5, img, ul, li, div, videocontainer { 
    font:9pt 'andale mono',courier,sans-serif;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Helvetica Neue", Helvetica, Arial, Tahoma, Geneva, sans-serif;}
}
 
div { }
div.container { padding: 0.5em; margin-bottom: 0em; }
div.post { clear: both; } 
// https://www.w3schools.com/css/css_float.asp
div.rightbox { margin-left:  2%; margin-bottom: 0em; padding: 0; float: right; }
div.rightboxborders { border-left: thick solid #000000; border-bottom: 1px solid #cdd0d4; border-top: 1px solid #cdd0d4; padding: 0.5em 0em 0.5em 0.75em; }
div.rightbox:last-child { margin-left: 0; }
div.leftbox  { margin-right: 2%; margin-bottom: 0em; padding: 0; float: left; }
div.leftbox:last-child { margin-right: 0; }

p { margin-bottom: 0.5em; text-align: justify; } 
p.phototext { text-align: justify; margin-bottom: 0em; margin-right: 0; color: #bbb; font-size: 0.5em; }
                    
h1 { margin-bottom: 0.5em; 
     margin-top: 0.7em; 
     font-weight: bold; 
     overflow: hidden; 
     font-size: 1.5em; 
     clear: both; 
     background: #FAFAFA;
}
h1 a:link { font-weight: 700; }
h1 a:hover { color: blue; }
//h1:after { content:""; display: inline-block; height: 0.5em; vertical-align: bottom; width: 100%; margin-right: -100%; border-top: 1px solid #eee; }
h2 { margin-top: 0.5em; font-size:  1.2em; font-weight: bold; }
h3 { margin-bottom: 0.5em; font-size:  1.1em; font-weight: bold; }
h4 { margin-bottom: 0.5em; font-size:  1.0em; font-weight: bold; }
h5 { margin-bottom: 0.5em; font-size: 0.85em; font-weight: bold; }

ul { list-style-type: disc; margin-left: 1em; margin-top: 0em; }
li { margin: 0.3em; text-align: justify; }
li.small { font-size:10pt; }
li.smallest { font-size:9pt; }

a, a:visited { color: black; text-decoration: none; font-weight: 450; }
a:visited { }
a:hover      { color: blue;  text-decoration: none; }

strong { color: $strong-color; }

hr.gradientstyle {
  border: 0px;
  height: 1px;
  background-image: linear-gradient( to right, rgba( 0, 0, 0, 0 ), rgba( 0, 0, 0, 0.75 ), rgba( 0, 0, 0, 0 ) );
}

/////////////
// Container

.container {
//  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
  margin-top:    0;
  margin-bottom: 0;
  padding-top:  0.4em;
  padding-bottom: 0;
}

.content {
  max-width: 1234px;
  margin: 0 auto;
  //margin-left:   0.5em;

  //overflow: hidden;
}
@media screen and (max-device-width: 480px) {
  .content{
    margin-left:  1em;
    margin-right: 1em;
  }
}

//////////////
// Masterhead

.masthead {
  padding-top:    0rem;
  padding-bottom: 0rem;
  margin-top:     -.4rem;
  margin-bottom:  .5rem;
}

.masthead-title {
  margin-top:    0;
  margin-bottom: 0;

  color: $masthead-color;

  a { color: $masthead-color; }
  a:hover { text-decoration: underline; }
  
  small {
    color: $masthead-small-color;
    font-size: 75%;
    font-weight: 400;
    letter-spacing: 0;    
  }
}

//////////////////////////
// Page

.page-title {
  margin-top:    0em; 
}
.page-title:before { content:""; display: inline-block; height: 1.5em; vertical-align: bottom; width: 100%; margin-right: -100%; border-top: 1px solid #EEE; 
}

//////////////////////////
// Posts

.initial {
  float: left;
  display: block;
  color: #903; 
  font-size: 100px;
  line-height: 0.85em;
  padding-top: 2px;
  padding-right: 11px;
  padding-left: 0px;

  font-weight: bold;
  
  text-shadow: 3px 3px 10px #2a2f35;
}

.post {
  margin-top:    0em;
  margin-bottom: 0em;

  //margin-left:   0.5em;

  // note: only change margin for title,date if inside post block
  .post-title {
    margin-top: 0;
  }
  .post-title:before { content:""; display: inline-block; height: 1.5em; vertical-align: bottom; width: 100%; margin-right: -100%; border-top: 1px solid #EEE; }

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -1.3em;
  margin-bottom: 1em;
  padding: 0;
  font-size: 0.6em;
  width: 100%;
  overflow: hidden;

  background: #FBFBFB;
}  
.post-date:after { content:""; display: inline-block; height: 0.5em; vertical-align: bottom; width: 100%; margin-right: -100%; border-top: 1px solid #EEE; }
    
}
.post-date {
  color: $post-date-color;  
}

.post-title,
.post-title a {
  color: $post-title-color;
}

// footnote
.post sup a, {
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px 3px 0px 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  background: #e6f0ff;
}

.post sup a:hover {
    background: #000000;
    color: white;
    text-decoration: none;  
}

.toc {
    padding: 1.25em 1.25em 0.2em;
    margin: 3em 0;
    border-radius: 5px;
    border: 1px solid #cfd7dc
}

.toc h5 {
    font-size: 1.2em;
    font-weight: 600;
    color: #161718;
    margin-bottom: 1em
}

.toc ul {
    margin-bottom: 1em
}

.toc ul li {
    margin: 0 0 0.2em 0
}

.toc ul li:before {
    display: none
}

.toc ul li:last-child {
    margin-bottom: 0;
}

.toc ul li a, .toc ul li a:visited {
    color: #1d78bd
}

.toc ul li a:hover {
    color: #0f4065
}

.toc ul li a {
    font-size: 1.1em;
    font-weight: 500;
    background-image: none;
    text-shadow: none;
}

.post pre.terminal {
  border: 2px solid black;
  background-color: #333;
  line-height: 1.6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #17ff00;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  padding: 0.8em;

  font-family: 'andale mono',courier,sans-serif;

  margin-bottom: 0.5em;
}

.post pre.terminal a, .post pre.terminal a:hover, .post pre.terminal a:visited {
  background-color: #333;
  color: #17ff00;
}

//<pre class="terminal">Text <b>skdslksd</b></pre>

img { border: 0px; width: 100%; margin-top: 0; margin-bottom: 0; margin-left: 0.0em; }
img.icon { border: 0; margin: 0; }
img.shadow, iframe.shadow {
  margin-bottom: .3em;
  -webkit-box-shadow: 0px 4px 18px rgba(0,0,0,0.84);          
  -moz-box-shadow: 0px 4px 18px rgba(0,0,0,0.84);
  box-shadow: 0px 4px 18px rgba(0,0,0,0.84);
}
img.zoomeffect {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out
}
img.zoomeffect:hover {
  transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -moz-transform: scale(1.03)
}
img.zoomeffect:active {
   transform: translateY(4px);
}
img.inline { 
  float: none; 
  display: inline; 
  vertical-align: bottom;
  margin-bottom: 4px;
}
img.shadowthumb {
  width: 20%; margin-right: 3%; margin-left: 0; margin-top: 1em;
  -webkit-box-shadow: 0px 4px 18px rgba(0,0,0,0.84);          
  -moz-box-shadow: 0px 4px 18px rgba(0,0,0,0.84);
  box-shadow: 0px 4px 18px rgba(0,0,0,0.84);
}
img.shadowthumb100 {
  width: 100%; margin-right: 3%; margin-left: 0; margin-top: 1em;
  -webkit-box-shadow: 0px 4px 18px rgba(0,0,0,0.84);          
  -moz-box-shadow: 0px 4px 18px rgba(0,0,0,0.84);
  box-shadow: 0px 4px 18px rgba(0,0,0,0.84);
}

// Photo grid
// https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 23%;
    padding: 1%;
}

.column img {
    margin-top: 0px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.videocontainer {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1em;
}

.iframeshadow {
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;
    
    -webkit-box-shadow: 0px 4px 18px rgba(0,0,0,0.84);          
    -moz-box-shadow: 0px 4px 18px rgba(0,0,0,0.84);
    box-shadow: 0px 4px 18px rgba(0,0,0,0.84);
}

// Example:  
//<div class="container">
//<iframe src="//www.youtube.com/embed/yCOY82UdFrw" frameborder="0" allowfullscreen class="video"></iframe>
//</div>  

//////////////////////
// Code

code, pre {
  font-family: $code-font-family;
}

code {
  padding: .25em .5em;
  font-size: 85%;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0rem;
  font-size: 1rem;
  line-height: 1.4;
  background-color: $pre-background-color;

  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}  

.highlight {        
  padding-left: 0.5em;

  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.highlight pre:after {
        
  position: relative;
  content: "code";
  font-size: 80%;
  font-weight: 100;
  color: #00000;
  top: -25px;
  left: -40px;
  letter-spacing: 0.2ex;

  display: inline-block;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/////////////////////
// Quotes

blockquote {
  position: relative;
  margin: 0 0 0em;
  padding: 0.75em 0em 0.3em 0.75em;
  // font-size: 1rem;
  color: #3B3D40;

  //display: inline-block;
  clear: left;
}

blockquote:before {
  position: absolute;
  content: " ";
  left:  0;
  width: 4px;
  background: #CFD7DD;
  top: .5em;
  border-radius: 2px;
  height: calc(100% - 1em);
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

blockquote:hover:before {
  width: 8px;
  background: #2292F1;
  border-radius: 3px;
}
  
//////////////////////
// Tables
// https://www.w3schools.com/css/css_table.asp

table {
  margin-bottom: 1rem;
  width: 100%;
  
  border: 1px solid $table-border-color;
  border-collapse: collapse;

  tr:hover {
    background-color: #f5f5f5
  }

  td, th {
   padding: .25rem .5rem;
   border: 1px solid $table-border-color;
  }

  th {
    background-color: black;
    color: white;
    
    padding: .5rem .5rem;
    
    font-weight: bold;  
  }
  
  tr:nth-child(even) { background-color: #f2f2f2 }
      
}

table.toc {
  width: 100%;
  margin: 0;
  border: 0px;

  tr:hover {
    background-color: white;
  }
  td, th {
   padding: .5rem .5rem;
   border: 0px solid $table-border-color;
  }

  tr:nth-child(even) { background-color: #ffffff }

}

table.blockheader {

  border: 0px;
  margin-bottom: 0;

  th {
    padding: 0;
    background-color: white;
    color: black;
    border: 0px;
    font-weight: normal;
  }
  
}

////////////////////////////////////////////////////////////////////////////////////////
  
/////////////////////
// Footnotes

.footnotes {
  clear: both;

  padding: 0;

  margin-top: 1em;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.footnotes p {
  font-size: 0.85em;
  color: #594f40;
  line-height: 1.7
}

.footnotes p:last-child {
  margin-bottom: 0.65rem
}

.footnotes p:target {
    background-color: #ffffeb;
    padding: 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

  //li.initial:first-letter {
//  float: left; 
//  display:block;
//  color: #903;
//  color: #000; 
//  font-size: 45px; 
//  line-height: 38px; 
//  padding-top: 4px; 
//  padding-right: 4px;
//  padding-left: 0px; 
//  font-family: Georgia;
  //}  

// html {
//   font-family: $font-family;
//   font-size:   20px;
//   line-height: 1.5;
// }

// body {
//   color:            $body-color;
//   background-color: $body-background-color;
// }

//////////////
// Links
// 
// a {
//   color:           $link-color;
//   text-decoration: none;
// 
//   strong {
//     color: inherit;
//   }
//   
//   &:hover,
//   &:focus {
//     text-decoration: underline;
//   }
// }

////////////////////////////
// Headings
// 
// h1, h2, h3, h4, h5, h6 {
//   margin-bottom:  .5rem;
//   font-weight:    bold;
//   line-height:    1.25;
//   color:          $headings-color;
//   text-rendering: optimizeLegibility;
// }
// h1 {
//   font-size: 2rem;
// }
// h2 {
//   margin-top: 1rem;
//   font-size: 1.5rem;
// }
// h3 {
//   margin-top: 1.5rem;
//   font-size: 1.25rem;
// }
// h4, h5, h6 {
//   margin-top: 1rem;
//   font-size: 1rem;
// }

/////////////
// Body text

// p {
//   margin-top: 0;
//   margin-bottom: 1rem;
// }

/////////////
// Lists
// 
// ul, ol, dl {
//   margin-top: 0;
//   margin-bottom: 1rem;
// }
// 
// dt {
//   font-weight: bold;
// }
// dd {
//   margin-bottom: .5rem;
// }
// 



// img {
//   display: block;
//   max-width: 100%;
//   margin: 0 0 1rem;
//   border-radius: 5px;
// }





/////////

#site #footnotediv {
    position: absolute;
    opacity: 1;
    width: 20em;
    border: 1px solid #eee;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background: #FFF;
    border-radius: 3px;
    font-weight: 400
}

#site #footnotediv a {
    font-weight: 500
}

#site #footnotediv .footnote-wrap {
    padding: 0.75em 1.15em;
    font-size: 13px;
    line-height: 1.4
}

#site #footnotediv .footnote-label {
    display: block;
    width: auto;
    padding: 8px 1.5em;
    color: #777;
    font-size: 10px;
    font-weight: 400;
    background: #f5f5f5
}

#site .footnote-dots {
    background: #ddd;
    border-radius: 5px;
    padding: 0em .3em 0.15em;
    margin-left: 5px;
    text-shadow: none;
    background-image: none
}

#site .footnote-dots svg.circ {
    padding: 0 2px 2px;
    width: 6px
}

#site .footnote-dots:hover {
    background: #ccc
}

#site #footnotes {
    margin-top: 2.1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 3em;
    border-radius: 10px;
    padding: 1.5em 1em 0.75em
}

.archive {
  margin:  0,5em;
  padding: 0;
}

/////////

/* Buzz Out */
/* http://ianlunn.github.io/Hover/ */

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

// Horisontal progress bar, https://blog.andyjiang.com/reading-position-horizontal-progress-bar

#Reading-progress {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 2px;
  margin: 0px;
  left: 0px;
  z-index: 99;
}

.bar {
  height: 3px;
  background: #FF0000;
  position: fixed;
  top: 0px;
  z-index: 99;

  opacity: 0.5;
  filter: alpha(opacity=50);
}

// 

.rightfloatingbox {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  background-color: black;

  z-index:  4;
  opacity: 0.8;
  display: none;
}
@media screen and ( min-width: 1330px ) {
  .rightfloatingbox  { display: block; }
}

.rightfloatingbox p {
  margin:       10px; 
  margin-right: 20px;
  text-align:   center;
  font-weight:  bold;
  color:        black;
}
