var items = [
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-577881362.209551_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-577882438.041792_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-577880821.625242_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-577881356.877936_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-577883732.949161_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-577883751.893655_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-577883745.387933_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-576073884.943496_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-576073893.327899_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-576075560.627565_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//OriginalPhoto-576074466.068_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-576073899.194307_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-576075457.895133_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-576075595.658184_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574869345.101478_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574869306.021490_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574869350.941404_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574869361.741840_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574257933.523720_ORIGINAL.jpg',
w     : 3024,
h     : 3024,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574256197.862884_ORIGINAL.jpg',
w     : 3024,
h     : 3024,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574257926.312792_ORIGINAL.jpg',
w     : 3024,
h     : 3024,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574259843.512197_ORIGINAL.jpg',
w     : 3024,
h     : 3024,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//OriginalPhoto-574256195.124035_ORIGINAL.jpg',
w     : 4032,
h     : 3024,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-574259838.345656_ORIGINAL.jpg',
w     : 3024,
h     : 3024,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//OriginalPhoto-568822450.697437_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-568821525.139971_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-568983142.995542_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-568983184.520985_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//OriginalPhoto-568821668.37804_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//OriginalPhoto-568821679.947414_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-567004618.232183_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-567004622.464097_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-567004626.018319_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-567010983.730099_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-567014871.195316_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-565193591.424547_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_2946_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-559740579.160762_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-559737015.303124_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_8838_ORIGINAL.jpg',
w     : 3110,
h     : 2333,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_8839_ORIGINAL.jpg',
w     : 3189,
h     : 2391,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_8841_ORIGINAL.jpg',
w     : 2376,
h     : 3169,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_8840_ORIGINAL.jpg',
w     : 2608,
h     : 1956,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
}];
