var items = [
{
src   : 'photos/2017-11-05-Ulloi/IMG_8711_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8708_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8706_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8705_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8702_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8701_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8698_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8696_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8694_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8693_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8691_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8688_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8687_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8683_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8681_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8679_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8677_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8675_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8673_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8670_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8668_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8667_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8665_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8662_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8661_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8656_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8655_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8652_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8651_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8649_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8646_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8644_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8642_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8641_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8639_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8637_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8634_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8632_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8631_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8628_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8627_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8624_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8622_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8621_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8616_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8615_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8613_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8610_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8609_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8606_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8604_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8603_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8601_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8598_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8596_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8595_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8591_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8589_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8586_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8584_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8582_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8581_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8579_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8576_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8575_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8573_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8570_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8569_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8558_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8557_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8554_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8553_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8551_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8549_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8547_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8544_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8542_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8541_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8539_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8536_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8535_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8529_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8527_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8524_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8523_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8520_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8518_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8517_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8514_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8513_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8508_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8507_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8505_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8502_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8501_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8498_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8497_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8495_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8492_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8491_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8485_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8482_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8480_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8479_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8476_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8474_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8466_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
},
{
src   : 'photos/2017-11-05-Ulloi/IMG_8464_ORIGINAL.JPG',
w     : 2448,
h     : 2448,
title : 'Üllői út v1.0β',
author: 'Fleischmann György'
}];
