var items = [
{
src   : 'photos/vissza/197x_gy_baba.JPG',
w     : 1916,
h     : 1286,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_dedi.JPG',
w     : 1301,
h     : 1961,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_anyuka2.JPG',
w     : 1170,
h     : 1874,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_anyuka.JPG',
w     : 1872,
h     : 1216,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_1ev.JPG',
w     : 1225,
h     : 1741,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_baba_anyuka.JPG',
w     : 1856,
h     : 1255,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_baba_anyuka_dedi.JPG',
w     : 1154,
h     : 1815,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_apuka.JPG',
w     : 2000,
h     : 1264,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_baba_anyuka2.JPG',
w     : 1234,
h     : 1842,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_dedi2.JPG',
w     : 1281,
h     : 1961,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_dombai.JPG',
w     : 1980,
h     : 981,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_.JPG',
w     : 2000,
h     : 1333,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_baba_apuka.JPG',
w     : 1241,
h     : 1910,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy_apuka2.JPG',
w     : 1906,
h     : 1211,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/1973_gy_3eves.JPG',
w     : 1797,
h     : 1137,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
},
{
src   : 'photos/vissza/197x_gy__.JPG',
w     : 1234,
h     : 2000,
title : 'ifj. Fleischmann György 197x',
author: 'Fleischmann György'
}];
