var items = [
{
src   : 'images/google_maps/google_maps_1.png',
w     : 912,
h     : 296,
title : 'Google API key',
author: 'Fleischmann György'
},
{
src   : 'images/google_maps/google_maps_2.png',
w     : 1910,
h     : 970,
title : 'Google API key',
author: 'Fleischmann György'
},
{
src   : 'images/google_maps/google_maps_3.png',
w     : 1916,
h     : 1272,
title : 'Google API key',
author: 'Fleischmann György'
},
{
src   : 'images/google_maps/google_maps_4.png',
w     : 2552,
h     : 670,
title : 'Google API key',
author: 'Fleischmann György'
},
{
src   : 'images/google_maps/google_maps_5.png',
w     : 850,
h     : 846,
title : 'Google API key',
author: 'Fleischmann György'
},
{
src   : 'images/google_maps/google_maps_6.png',
w     : 1918,
h     : 486,
title : 'Google API key',
author: 'Fleischmann György'
}];
