var items = [
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-567010983.730099_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-567014871.195316_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-565193591.424547_ORIGINAL.jpg',
w     : 1280,
h     : 1280,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_2946_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-559740579.160762_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//HipstamaticPhoto-559737015.303124_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_8838_ORIGINAL.jpg',
w     : 3110,
h     : 2333,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_8839_ORIGINAL.jpg',
w     : 3189,
h     : 2391,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_8841_ORIGINAL.jpg',
w     : 2376,
h     : 3169,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
},
{
src   : 'photos/halaszcsarda_projekt//IMG_8840_ORIGINAL.jpg',
w     : 2608,
h     : 1956,
title : 'Halászcsárda Projekt',
author: 'Fleischmann György'
}];
