var items = [
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555744841.259001_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658032.389980_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555659385.175397_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555657927.412921_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658808.719732_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555745050.391080_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658616.260285_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555744822.799382_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555657992.623608_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555659371.639296_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658796.447398_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555744880.505527_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658098.005042_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555744801.557943_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555657951.581194_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658914.313541_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658644.264395_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555744862.733177_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658041.238722_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555744795.057683_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555657942.790312_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658892.420781_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555745114.789039_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/jatszoter2018/HipstamaticPhoto-555658631.021347_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
}];
