<div class="row"> 
  <div class="column">
{% include row1_{{ include.TAG }}.html %}
  </div>
  <div class="column">
{% include row2_{{ include.TAG }}.html %}
  </div>
  <div class="column">
{% include row3_{{ include.TAG }}.html %}
  </div>
  <div class="column">
{% include row4_{{ include.TAG }}.html %}
  </div>
</div>

<script type="text/javascript">

  var gallery;

  var openPhotoSwipe = function() {
  var pswpElement = document.querySelectorAll( '.pswp' )[0];

    // build items array
  {% include array_{{ include.TAG }}.html %}
    
    // define options (if needed)
    var options = {
        // history & focus options are disabled on CodePen        
        history: false,
        focus: false,

        bgOpacity: 0.96,

        showAnimationDuration: 0,
        hideAnimationDuration: 0
        
    };
    
    gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();
    
  };

</script>