<a href="javascript:openPhotoSwipe(); gallery.goTo( 0 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_baba.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 4 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_1ev.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 8 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_baba_anyuka2.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 12 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_baba_apuka.JPG"></a>
