<a href="javascript:openPhotoSwipe(); gallery.goTo( 0 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555744841.259001.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 4 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555658808.719732.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 8 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555657992.623608.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 12 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555658098.005042.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 16 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555658644.264395.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 20 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555657942.790312.jpg"></a>
