<a href="javascript:openPhotoSwipe(); gallery.goTo( 1 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_dedi.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 5 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_baba_anyuka.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 9 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_dedi2.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 13 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_apuka2.JPG"></a>
