<a href="javascript:openPhotoSwipe(); gallery.goTo( 2 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_anyuka2.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 6 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_baba_anyuka_dedi.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 10 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_dombai.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 14 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/1973_gy_3eves.JPG"></a>
