<a href="javascript:openPhotoSwipe(); gallery.goTo( 2 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555659385.175397.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 6 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555658616.260285.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 10 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555658796.447398.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 14 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555657951.581194.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 18 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555658041.238722.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 22 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555745114.789039.jpg"></a>
