<a href="javascript:openPhotoSwipe(); gallery.goTo( 2 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-568983184.520985.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 6 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-567004618.232183.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 10 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-567014871.195316.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 14 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-559737015.303124.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 18 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//IMG_8840.jpg"></a>
