<a href="javascript:openPhotoSwipe(); gallery.goTo( 3 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555657927.412921.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 7 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555744822.799382.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 11 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555744880.505527.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 15 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555658914.313541.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 19 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555744795.057683.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 23 );"><img class="shadow" src="photos/jatszoter2018/HipstamaticPhoto-555658631.021347.jpg"></a>
