<a href="javascript:openPhotoSwipe(); gallery.goTo( 3 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-568983142.995542.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 7 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-567004622.464097.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 11 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-565193591.424547.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 15 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//IMG_8838.jpg"></a>
