<a href="javascript:openPhotoSwipe(); gallery.goTo( 3 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_anyuka.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 7 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_apuka.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 11 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy_.JPG"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 15 );"><img title="ifj. Fleischmann György 197x" class="shadow zoomeffect" src="photos/vissza/197x_gy__.JPG"></a>
