<a href="javascript:openPhotoSwipe(); gallery.goTo( 3 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-567010983.730099.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 7 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//HipstamaticPhoto-559740579.160762.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 11 );"><img title="Halászcsárda Projekt" class="shadow zoomeffect" src="photos/halaszcsarda_projekt//IMG_8841.jpg"></a>
